<h2 class="h2">History</h2>

<table class="table table-striped">
  <thead>
  <tr>
    <th>#</th>
    <th>Created</th>
    <th>User</th>
    <th>Title</th>
    <th>Status</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <th scope="row">1</th>
    <td>12.12.12</td>
    <td>@mdo</td>
    <td>What to do</td>
    <td>done</td>
  </tr>

  <tr>
    <th scope="row">1</th>
    <td>12.12.12</td>
    <td>@mdo</td>
    <td>What to do</td>
    <td>done</td>
  </tr>

  <tr>
    <th scope="row">1</th>
    <td>12.12.12</td>
    <td>@mdo</td>
    <td>What to do</td>
    <td>done</td>
  </tr>

  <tr>
    <th scope="row">1</th>
    <td>12.12.12</td>
    <td>@mdo</td>
    <td>What to do</td>
    <td>done</td>
  </tr>

  <tr>
    <th scope="row">1</th>
    <td>12.12.12</td>
    <td>@mdo</td>
    <td>What to do</td>
    <td>done</td>
  </tr>

  </tbody>
</table>